.main {
  margin: 0 auto;
  border: 1px solid #000;
  background: #656565;
  height: 80px;
  width: 250px;
  //height: 250px;
  //width: 80px;
  align-items: center;
  justify-content: center;
  lib-angular-carousel-tidee {
    display: contents;
  }
}
